In [1]:
import pandas as pd

In [2]:
raw_coord = pd.read_csv("rest_coordinates.csv")
raw_coord

     restaurant_id    latitude   longitude
0              1.0         n_a         n_a
1              2.0  45.4385703  10.9958355
2              3.0   45.441603  10.9971064
3              4.0  45.4419491  10.9979381
4              5.0  45.4417573  10.9974387
..             ...         ...         ...
890          891.0  47.5061505  19.0379733
891          892.0         n_a         n_a
892          893.0  41.6969417  12.7076444
893          894.0  45.4532129  12.1463957
894          895.0         n_a         n_a

[895 rows x 3 columns]

In [3]:
coord = raw_coord.copy()
coord

     restaurant_id    latitude   longitude
0              1.0         n_a         n_a
1              2.0  45.4385703  10.9958355
2              3.0   45.441603  10.9971064
3              4.0  45.4419491  10.9979381
4              5.0  45.4417573  10.9974387
..             ...         ...         ...
890          891.0  47.5061505  19.0379733
891          892.0         n_a         n_a
892          893.0  41.6969417  12.7076444
893          894.0  45.4532129  12.1463957
894          895.0         n_a         n_a

[895 rows x 3 columns]

## Drop the n_a restaurants

In [4]:
rows_to_delete = []
for row in range(coord.shape[0]):

    if coord.iloc[row]['latitude'] == 'n_a':
        rows_to_delete.append(row)

In [5]:
coord = coord.drop(index = rows_to_delete, axis=0)
coord

     restaurant_id    latitude   longitude
1              2.0  45.4385703  10.9958355
2              3.0   45.441603  10.9971064
3              4.0  45.4419491  10.9979381
4              5.0  45.4417573  10.9974387
5              6.0  45.4401801  10.9937928
..             ...         ...         ...
888          889.0  46.5746069  11.6711162
889          890.0  45.9549015  12.6602709
890          891.0  47.5061505  19.0379733
892          893.0  41.6969417  12.7076444
893          894.0  45.4532129  12.1463957

[572 rows x 3 columns]

In [6]:
coord = coord.reset_index()

## Drop the restaurants that are not in italy

In [7]:
rows_to_delete = []
for row in range(coord.shape[0]):

    if not coord.iloc[row]['latitude'].startswith('4') or not coord.iloc[row]['longitude'].startswith('1'):
        rows_to_delete.append(row)

In [8]:
rows_to_delete

[10,
 15,
 20,
 33,
 36,
 48,
 61,
 70,
 100,
 101,
 102,
 110,
 125,
 128,
 129,
 133,
 137,
 138,
 142,
 148,
 158,
 159,
 166,
 172,
 180,
 181,
 185,
 189,
 198,
 212,
 222,
 234,
 241,
 250,
 254,
 263,
 264,
 277,
 278,
 280,
 281,
 282,
 290,
 292,
 295,
 302,
 303,
 308,
 311,
 312,
 315,
 316,
 320,
 326,
 332,
 337,
 340,
 341,
 354,
 359,
 360,
 371,
 376,
 377,
 383,
 384,
 385,
 391,
 394,
 395,
 403,
 405,
 406,
 416,
 418,
 422,
 423,
 427,
 428,
 437,
 438,
 440,
 447,
 452,
 453,
 454,
 455,
 458,
 459,
 460,
 461,
 462,
 463,
 465,
 482,
 483,
 485,
 488,
 489,
 491,
 494,
 495,
 499,
 500,
 505,
 510,
 517,
 521,
 522,
 528,
 533,
 536,
 540,
 548,
 561,
 562,
 563]

In [9]:
for row in rows_to_delete: 
    try: 
        coord = coord.drop(index = row)
    except:
        print(row, 'not deleted')

In [10]:
coord = coord.reset_index()
coord

     level_0  index  restaurant_id    latitude   longitude
0          0      1            2.0  45.4385703  10.9958355
1          1      2            3.0   45.441603  10.9971064
2          2      3            4.0  45.4419491  10.9979381
3          3      4            5.0  45.4417573  10.9974387
4          4      5            6.0  45.4401801  10.9937928
..       ...    ...            ...         ...         ...
450      567    888          889.0  46.5746069  11.6711162
451      568    889          890.0  45.9549015  12.6602709
452      569    890          891.0  47.5061505  19.0379733
453      570    892          893.0  41.6969417  12.7076444
454      571    893          894.0  45.4532129  12.1463957

[455 rows x 5 columns]

In [11]:
coord = coord.drop(labels= ['index', 'level_0'], axis= 1)
coord.to_excel("rest_coordinates_clean.xlsx")

## Preprocessing restaurants

In [12]:
rest = pd.read_csv("restaurants-raw-data.csv")
rest

,restaurant_id,name,direction,phone,website,type_food,special_diets,price_range,trip_rating,no_reviews,service_rating,food_rating,value_rating
0,1,Ristorante Pizzeria Nastro Azzurro,Vicolo Listone 4 vicolo che da sulla piazza Br...,+39 045 800 4457,http://www.ristorantenastroazzurroverona.it/,"Italian, Pizza, Seafood, Mediterranean, Europe...","Vegetarian Friendly, Vegan Options, Gluten Fre...",N.A,4.5,2710,4.5,4.5,4.5
1,2,La Griglia,"Via Leoncino, 29, 37121, Verona Italy",+39 045 803 1212,http://www.trattorialagriglia.it/?page_id=62,N.A,N.A,N.A,4.5,4493,4.5,4.5,4.0
2,3,Antica Bottega del Vino,"Vicolo Scudo di Francia 3, 37121, Verona Italy",+39 045 800 4535,http://www.bottegavini.it/bottegavini/index.ph...,N.A,N.A,N.A,4.0,2363,4.0,4.0,3.5
3,4,Trattoria Al Pompiere,"Vicolo Regina dUngheria 5, 37121, Verona Italy",+39 045 803 0537,http://www.alpompiere.com/,N.A,"Vegetarian Friendly, Gluten Free Options",€40 - €60,4.5,2240,4.5,4.5,4.0
4,5,Ristorante Greppia,"Vicolo Samaritana, 37121, Verona Italy",+39 045 800 4577,http://www.ristorantegreppia.com/,"Italian, Mediterranean, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",€26 - €65,4.0,3280,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
891,904,Ca Dei Maghi,"Via Ca dei Maghi 5 Fumane, 37022, Fumane Italy",+39 045 770 2355,http://www.cadeimaghi.it/,"Italian, Mediterranean, Barbecue, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",N.A,4.5,342,4.5,4.5,4.5
892,905,Amoroso dal 1876 Ristorante Pizzeria,"Piazza Giuseppe Garibaldi 121, 80142, Naples I...",+39 081 269988,http://www.amoroso1876.it/,"Italian, Pizza, Seafood, Mediterranean, Neapol...",Vegetarian Friendly,€6 - €25,4.0,269,4.5,4.0,4.0
893,906,Caffè Casanova Ristorante Pizzeria,"Via Goffredo Mameli 16, 37011, Bardolino Italy",+39 045 621 1260,https://www.facebook.com/Caffecasanovabardolino/,"Italian, Pizza, Seafood, Mediterranean, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",€13 - €50,4.0,271,4.0,4.0,4.0
894,907,Speck Stube Bardolino,"Via Croce 1, 37011, Bardolino Italy",+39 045 621 0918,http://www.speckstube.eu/,"Steakhouse, Italian, Pizza, Barbecue, European",N.A,€10 - €20,3.5,826,4.0,3.5,4.0
895,908,Monegato Primi Secondi a Nessuno - Madama Cris...,"Piazza Madama Cristina 5/A, 10125 Turin Italy",+39 011 659 9986,http://www.facebook.com/ristorantitorino.risto...,"Italian, Fast Food, Mediterranean","Vegetarian Friendly, Vegan Options",€5 - €10,4.5,767,4.5,4.5,4.5

In [13]:
raw_data = rest.copy()
raw_data

,restaurant_id,name,direction,phone,website,type_food,special_diets,price_range,trip_rating,no_reviews,service_rating,food_rating,value_rating
0,1,Ristorante Pizzeria Nastro Azzurro,Vicolo Listone 4 vicolo che da sulla piazza Br...,+39 045 800 4457,http://www.ristorantenastroazzurroverona.it/,"Italian, Pizza, Seafood, Mediterranean, Europe...","Vegetarian Friendly, Vegan Options, Gluten Fre...",N.A,4.5,2710,4.5,4.5,4.5
1,2,La Griglia,"Via Leoncino, 29, 37121, Verona Italy",+39 045 803 1212,http://www.trattorialagriglia.it/?page_id=62,N.A,N.A,N.A,4.5,4493,4.5,4.5,4.0
2,3,Antica Bottega del Vino,"Vicolo Scudo di Francia 3, 37121, Verona Italy",+39 045 800 4535,http://www.bottegavini.it/bottegavini/index.ph...,N.A,N.A,N.A,4.0,2363,4.0,4.0,3.5
3,4,Trattoria Al Pompiere,"Vicolo Regina dUngheria 5, 37121, Verona Italy",+39 045 803 0537,http://www.alpompiere.com/,N.A,"Vegetarian Friendly, Gluten Free Options",€40 - €60,4.5,2240,4.5,4.5,4.0
4,5,Ristorante Greppia,"Vicolo Samaritana, 37121, Verona Italy",+39 045 800 4577,http://www.ristorantegreppia.com/,"Italian, Mediterranean, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",€26 - €65,4.0,3280,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
891,904,Ca Dei Maghi,"Via Ca dei Maghi 5 Fumane, 37022, Fumane Italy",+39 045 770 2355,http://www.cadeimaghi.it/,"Italian, Mediterranean, Barbecue, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",N.A,4.5,342,4.5,4.5,4.5
892,905,Amoroso dal 1876 Ristorante Pizzeria,"Piazza Giuseppe Garibaldi 121, 80142, Naples I...",+39 081 269988,http://www.amoroso1876.it/,"Italian, Pizza, Seafood, Mediterranean, Neapol...",Vegetarian Friendly,€6 - €25,4.0,269,4.5,4.0,4.0
893,906,Caffè Casanova Ristorante Pizzeria,"Via Goffredo Mameli 16, 37011, Bardolino Italy",+39 045 621 1260,https://www.facebook.com/Caffecasanovabardolino/,"Italian, Pizza, Seafood, Mediterranean, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",€13 - €50,4.0,271,4.0,4.0,4.0
894,907,Speck Stube Bardolino,"Via Croce 1, 37011, Bardolino Italy",+39 045 621 0918,http://www.speckstube.eu/,"Steakhouse, Italian, Pizza, Barbecue, European",N.A,€10 - €20,3.5,826,4.0,3.5,4.0
895,908,Monegato Primi Secondi a Nessuno - Madama Cris...,"Piazza Madama Cristina 5/A, 10125 Turin Italy",+39 011 659 9986,http://www.facebook.com/ristorantitorino.risto...,"Italian, Fast Food, Mediterranean","Vegetarian Friendly, Vegan Options",€5 - €10,4.5,767,4.5,4.5,4.5

In [14]:
raw_data.columns.values

array(['restaurant_id', 'name', 'direction', 'phone', 'website',
       'type_food', 'special_diets', 'price_range', 'trip_rating',
       'no_reviews', 'service_rating', 'food_rating', 'value_rating'],
      dtype=object)

### Drop unnecesary columns

In [15]:
raw_data = raw_data.drop(labels= ['name', 'direction','website'], axis=1)
raw_data

,restaurant_id,phone,type_food,special_diets,price_range,trip_rating,no_reviews,service_rating,food_rating,value_rating
0,1,+39 045 800 4457,"Italian, Pizza, Seafood, Mediterranean, Europe...","Vegetarian Friendly, Vegan Options, Gluten Fre...",N.A,4.5,2710,4.5,4.5,4.5
1,2,+39 045 803 1212,N.A,N.A,N.A,4.5,4493,4.5,4.5,4.0
2,3,+39 045 800 4535,N.A,N.A,N.A,4.0,2363,4.0,4.0,3.5
3,4,+39 045 803 0537,N.A,"Vegetarian Friendly, Gluten Free Options",€40 - €60,4.5,2240,4.5,4.5,4.0
4,5,+39 045 800 4577,"Italian, Mediterranean, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",€26 - €65,4.0,3280,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...
891,904,+39 045 770 2355,"Italian, Mediterranean, Barbecue, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",N.A,4.5,342,4.5,4.5,4.5
892,905,+39 081 269988,"Italian, Pizza, Seafood, Mediterranean, Neapol...",Vegetarian Friendly,€6 - €25,4.0,269,4.5,4.0,4.0
893,906,+39 045 621 1260,"Italian, Pizza, Seafood, Mediterranean, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",€13 - €50,4.0,271,4.0,4.0,4.0
894,907,+39 045 621 0918,"Steakhouse, Italian, Pizza, Barbecue, European",N.A,€10 - €20,3.5,826,4.0,3.5,4.0
895,908,+39 011 659 9986,"Italian, Fast Food, Mediterranean","Vegetarian Friendly, Vegan Options",€5 - €10,4.5,767,4.5,4.5,4.5

### Drop non italian restaurants

In [16]:
not_ita_rest = []
for i in range(raw_data.shape[0]):
    if not raw_data.iloc[i]['phone'].startswith('+39'):
        not_ita_rest.append(i)

In [17]:
len(not_ita_rest)

193

In [18]:
raw_data = raw_data.drop(index=not_ita_rest, axis=0)
raw_data.shape

(703, 10)

In [19]:
raw_data = raw_data.drop(labels= ['phone'], axis=1)
raw_data

,restaurant_id,type_food,special_diets,price_range,trip_rating,no_reviews,service_rating,food_rating,value_rating
0,1,"Italian, Pizza, Seafood, Mediterranean, Europe...","Vegetarian Friendly, Vegan Options, Gluten Fre...",N.A,4.5,2710,4.5,4.5,4.5
1,2,N.A,N.A,N.A,4.5,4493,4.5,4.5,4.0
2,3,N.A,N.A,N.A,4.0,2363,4.0,4.0,3.5
3,4,N.A,"Vegetarian Friendly, Gluten Free Options",€40 - €60,4.5,2240,4.5,4.5,4.0
4,5,"Italian, Mediterranean, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",€26 - €65,4.0,3280,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...
891,904,"Italian, Mediterranean, Barbecue, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",N.A,4.5,342,4.5,4.5,4.5
892,905,"Italian, Pizza, Seafood, Mediterranean, Neapol...",Vegetarian Friendly,€6 - €25,4.0,269,4.5,4.0,4.0
893,906,"Italian, Pizza, Seafood, Mediterranean, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",€13 - €50,4.0,271,4.0,4.0,4.0
894,907,"Steakhouse, Italian, Pizza, Barbecue, European",N.A,€10 - €20,3.5,826,4.0,3.5,4.0
895,908,"Italian, Fast Food, Mediterranean","Vegetarian Friendly, Vegan Options",€5 - €10,4.5,767,4.5,4.5,4.5

### Categorize types of food

In [20]:
types_food = ['American', 'Chinese', 'Bar', 'Cafe', 'European', 'Indian', 'Italian', 'International', 'Japanese', 'Seafood', 'Mediterranean', 'Mexican', 'Fast Food', 'N.A']
# Napolitan, Tuscan, Deli, Fusion, Pizza, Spanish

In [21]:
for i in range(len(types_food)): 
    types_food[i] = 'type_food_' + types_food[i]

In [22]:
types_food

['type_food_American',
 'type_food_Chinese',
 'type_food_Bar',
 'type_food_Cafe',
 'type_food_European',
 'type_food_Indian',
 'type_food_Italian',
 'type_food_International',
 'type_food_Japanese',
 'type_food_Seafood',
 'type_food_Mediterranean',
 'type_food_Mexican',
 'type_food_Fast Food',
 'type_food_N.A']

In [23]:
df_food = pd.DataFrame(columns = types_food)

In [24]:
data_new_columns = raw_data.join(df_food)
data_new_columns

,restaurant_id,type_food,special_diets,price_range,trip_rating,no_reviews,service_rating,food_rating,value_rating,type_food_American,...,type_food_European,type_food_Indian,type_food_Italian,type_food_International,type_food_Japanese,type_food_Seafood,type_food_Mediterranean,type_food_Mexican,type_food_Fast Food,type_food_N.A
0,1,"Italian, Pizza, Seafood, Mediterranean, Europe...","Vegetarian Friendly, Vegan Options, Gluten Fre...",N.A,4.5,2710,4.5,4.5,4.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,N.A,N.A,N.A,4.5,4493,4.5,4.5,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,N.A,N.A,N.A,4.0,2363,4.0,4.0,3.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,N.A,"Vegetarian Friendly, Gluten Free Options",€40 - €60,4.5,2240,4.5,4.5,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"Italian, Mediterranean, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",€26 - €65,4.0,3280,4.0,4.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891,904,"Italian, Mediterranean, Barbecue, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",N.A,4.5,342,4.5,4.5,4.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
892,905,"Italian, Pizza, Seafood, Mediterranean, Neapol...",Vegetarian Friendly,€6 - €25,4.0,269,4.5,4.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
893,906,"Italian, Pizza, Seafood, Mediterranean, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",€13 - €50,4.0,271,4.0,4.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,907,"Steakhouse, Italian, Pizza, Barbecue, European",N.A,€10 - €20,3.5,826,4.0,3.5,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
895,908,"Italian, Fast Food, Mediterranean","Vegetarian Friendly, Vegan Options",€5 - €10,4.5,767,4.5,4.5,4.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
data_new_columns = data_new_columns.reset_index(drop=True)

,restaurant_id,type_food,special_diets,price_range,trip_rating,no_reviews,service_rating,food_rating,value_rating,type_food_American,...,type_food_European,type_food_Indian,type_food_Italian,type_food_International,type_food_Japanese,type_food_Seafood,type_food_Mediterranean,type_food_Mexican,type_food_Fast Food,type_food_N.A
0,1,"Italian, Pizza, Seafood, Mediterranean, Europe...","Vegetarian Friendly, Vegan Options, Gluten Fre...",N.A,4.5,2710,4.5,4.5,4.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,N.A,N.A,N.A,4.5,4493,4.5,4.5,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,N.A,N.A,N.A,4.0,2363,4.0,4.0,3.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,N.A,"Vegetarian Friendly, Gluten Free Options",€40 - €60,4.5,2240,4.5,4.5,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"Italian, Mediterranean, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",€26 - €65,4.0,3280,4.0,4.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,904,"Italian, Mediterranean, Barbecue, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",N.A,4.5,342,4.5,4.5,4.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
699,905,"Italian, Pizza, Seafood, Mediterranean, Neapol...",Vegetarian Friendly,€6 - €25,4.0,269,4.5,4.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
700,906,"Italian, Pizza, Seafood, Mediterranean, European","Vegetarian Friendly, Vegan Options, Gluten Fre...",€13 - €50,4.0,271,4.0,4.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
701,907,"Steakhouse, Italian, Pizza, Barbecue, European",N.A,€10 - €20,3.5,826,4.0,3.5,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
702,908,"Italian, Fast Food, Mediterranean","Vegetarian Friendly, Vegan Options",€5 - €10,4.5,767,4.5,4.5,4.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
for row in range(data_new_columns.shape[0]):
    food = data_new_columns.iloc[row]['type_food']
    for f in food: 
        f = 'type_food_' + f

Italian, Pizza, Seafood, Mediterranean, European, Healthy
N.A
N.A
N.A
Italian, Mediterranean, European
N.A
Italian
Italian, Healthy, Emilian, Northern-Italian
Italian, Seafood
Italian, Mediterranean
Italian, Healthy
N.A
Italian, Mediterranean, Healthy
Italian, Northern-Italian
Italian, Pizza, Mediterranean
Italian, Mediterranean
Italian, Mediterranean
Italian, Mediterranean, Seafood
N.A
N.A
Italian, Mediterranean, European, Wine Bar
Italian, Mediterranean, Barbecue
Mediterranean, Wine Bar
Italian, Pizza, Contemporary
Italian, European
N.A
Italian, Seafood, Mediterranean, Healthy
Fusion
Indian
Italian, Mediterranean, Grill
N.A
Italian, Pizza, Mediterranean
Italian, International, Contemporary
Italian, Mediterranean, European
Italian, Mediterranean, Northern-Italian, Central-Italian, Southern-Italian
Italian, Seafood, Mediterranean
Italian, Japanese, Seafood, Mediterranean, Sushi, European, Fusion
Mediterranean, Bar, Pub
Italian, Pizza, Neapolitan, Campania, Southern-Italian
Pizza, Italian
Italian
N.A
Italian, Seafood, Mediterranean
Italian, Mediterranean, European, Wine Bar
Italian, Mediterranean
Italian, Mediterranean, European
Italian, Pizza, Mediterranean, European
Mediterranean, Italian
Italian, Bar, Pizza, Cafe, Mediterranean, European, Healthy
Italian, Pizza, Mediterranean, European, International
Italian, Mediterranean, Northern-Italian
Italian, Mediterranean, European, International, Dining bars
Italian
Italian
Italian, Mediterranean
Mediterranean, European, Italian
Italian
European, Italian, Mediterranean
Italian, European
Italian, Bar, Pizza, International
N.A
Italian, Pizza, Fast Food, Mediterranean, Street Food
N.A
N.A
Italian, Mediterranean, Street Food, Northern-Italian, Central-Italian
Italian, American, International, British, Cafe, European
Italian, Pizza, Seafood, Mediterranean, European, Neapolitan, Campania, Southern-Italian
Italian, Fast Food, Mediterranean, Healthy
Italian, Mediterranean
Italian, Mediterranean, European
Italian, Mediterranean, European
Italian, Cafe
Italian, Mediterranean
N.A
Italian
Italian
Italian, Bar, Mediterranean, European, Wine Bar, Northern-Italian
Italian, Mediterranean, Healthy
N.A
Italian, Mediterranean
N.A
N.A
N.A
Italian, Pizza, Mediterranean, Neapolitan, Campania, Southern-Italian
Italian, Bar, Gastropub, European, Wine Bar
Italian, Pizza, Seafood, Mediterranean
Italian, Cafe, Mediterranean, European
Italian, Seafood
Italian, Seafood, European
Italian
Italian, Cafe
Chinese, Bar, Seafood, Asian
Italian
Cafe
Italian, Healthy
Italian, Cafe
Italian, Mediterranean, Wine Bar
Italian, Mediterranean, European, Healthy
Grill, Italian, Mediterranean, Barbecue, European
Italian, Pizza, Seafood, Mediterranean
Italian, Wine Bar
Italian
Italian, Mediterranean, European
Italian, Pizza, Mediterranean
N.A
Italian, Pizza, Seafood, Mediterranean, Healthy
Italian
Italian, Pizza, Mediterranean, Apulian, Southern-Italian, Dining bars
N.A
Italian, Mediterranean, European, Contemporary
N.A
Italian, Neapolitan, Campania, Southern-Italian
Italian, European, Wine Bar
Italian, Bar, Cafe, Mediterranean, European
Italian, Pizza, Fast Food, Mediterranean, European
Italian
Chinese, Japanese, Seafood, Sushi, Asian
Italian, Seafood, Mediterranean
Chinese, Seafood, Asian, Fusion
Italian, International, Seafood, European, Japanese Fusion
Italian, Cafe
Italian, Seafood, Mediterranean
N.A
American, Bar
Italian, Mediterranean, Wine Bar
Italian, Bar, Cafe, Mediterranean, European
Italian, Bar, Pizza, Mediterranean, European
Italian, Bar, Cafe, Mediterranean, European
Italian, Pizza, Seafood, Mediterranean, Neapolitan, Campania, Southern-Italian
Italian, Bar, Cafe, Mediterranean, European
Italian, Mediterranean, Wine Bar
Italian, Mediterranean
Italian, Pizza
N.A
N.A
Bar, Spanish
American, International, Street Food, Italian
Italian, Pizza, Mediterranean, European
Italian, Pizza, Mediterranean
Italian, Mediterranean
Italian, Mediterranean
Italian, Mediterranean
Bar, Cafe, Wine Bar, Italian, Mediterranean
Italian, Mediterranean, Healthy
Italian, Seafood, Mediterranean, Healthy
Italian, Bar, Cafe
N.A
Italian, Mediterranean, Wine Bar
N.A
N.A
Italian
Italian, Mediterranean
Italian
Italian, Wine Bar
Italian, Pizza, Mediterranean
Italian, Pizza, Mediterranean
Italian, Mediterranean, European, Deli
Italian, Seafood, Mediterranean
Italian, Mediterranean, European
N.A
Italian, Pizza, Mediterranean, European
Italian, Bar, Cafe
Indian, Asian
Mediterranean, Italian, Soups
Northern-Italian
Seafood, European
Pizza, Italian, Fast Food, European, Street Food
Italian, Pizza, Seafood, Mediterranean
Italian, Bar, Mediterranean, European, Wine Bar
Italian, Pizza, Seafood, Mediterranean
Italian
Italian
Italian, Bar, Cafe
Italian, Mediterranean
Italian, Lombard, Northern-Italian
Italian, Steakhouse, Mediterranean, Barbecue
Italian, Bar, European
Italian, Seafood, Mediterranean
N.A
Italian, Bar
Italian, Seafood, Mediterranean, European
Bar, Cafe, Italian
Italian, Mediterranean, European
Italian, Bar, Cafe
Italian, Seafood, Mediterranean, European, Wine Bar
Italian, Seafood, Mediterranean
N.A
Italian, Seafood, Mediterranean, Deli, Wine Bar
Italian, Bar, Cafe, Mediterranean
Italian, Bar, Cafe
Italian, Pizza, Mediterranean, European
Italian, American, Seafood, International, Mediterranean, Sushi, European, Asian
Italian, Bar, Mediterranean, Wine Bar
Italian, Mediterranean
Italian, Mediterranean
Italian, Pizza
Italian, Pizza, Mediterranean
Mediterranean, Italian, European
Italian, Mediterranean, Barbecue
Pizza, Italian, Mediterranean
Italian, Pizza, Mediterranean
Italian, Bar, Cafe
Italian, Pizza, European
Bar, Italian, International, Pub
Italian, Pizza, Seafood, Mediterranean, European
Italian, Bar, Pizza, Seafood, Mediterranean
Italian, American, Barbecue
Italian, Mediterranean
Italian, Grill, Street Food
Argentinean, Barbecue, Healthy, Grill
Italian, Mediterranean, European
Italian, Mediterranean, Barbecue, European
Italian, Mediterranean, Wine Bar, Tuscan, Central-Italian
Italian, Mediterranean, Barbecue
Fast Food, Street Food, Middle Eastern, International
Italian
Italian, Pizza, Street Food
Italian, American, Fast Food, European, Healthy
Deli
Italian
Italian, Seafood, Mediterranean, European
Italian, Mediterranean
Italian, Seafood, Mediterranean, European, Healthy
Northern-Italian
Italian, Pizza, Wine Bar, Mediterranean
N.A
Italian
French, Seafood, European, Wine Bar
Mediterranean, Brew Pub
Italian, American, Steakhouse, Fast Food, Barbecue, European
Italian, Pizza, Mediterranean
Italian, Mediterranean
Japanese, Sushi, Fusion, Chinese, Seafood, Asian
Chinese, Seafood, Asian
Italian, European, Mediterranean
Italian, Pizza
Fast Food, European, American
Italian, Pizza
Italian, Mediterranean
Bar, Italian
Cafe
N.A
Italian, International, Healthy
Italian, Mediterranean, European, Wine Bar
Italian, Pizza, Mediterranean
Italian, Mediterranean
Italian, Seafood, Mediterranean
Italian, Mediterranean, Healthy
Italian
Italian, Mediterranean
Bar, Italian
Italian
Cafe, Italian
Italian, Pizza, Mediterranean
N.A
Italian, Pizza, Mediterranean
Pizza, Italian, Brew Pub, Fast Food, Apulian, Southern-Italian
Japanese, Seafood, Sushi, Soups
Italian, Mediterranean
Italian, Pizza, Fast Food
Italian, European
Italian, Mediterranean
Italian, Steakhouse, Barbecue
Italian, Seafood, Mediterranean, European, Lombard, Northern-Italian
Italian, Seafood, Mediterranean, European
Barbecue, Tuscan, Central-Italian
Italian, Mediterranean, Healthy, Contemporary
Italian, Mediterranean, Emilian, Northern-Italian
N.A
Italian, Pizza, Mediterranean, Tuscan, Central-Italian
N.A
Italian, Mediterranean, Emilian, Northern-Italian
N.A
Italian, Pizza, Seafood, Mediterranean, European, Lombard, Northern-Italian
Italian
Italian
Seafood
Italian, Fast Food, Mediterranean, European, Deli, Healthy
Italian, Pizza, Seafood, Mediterranean
Italian, Mediterranean, Barbecue, Wine Bar
Cafe
N.A
Italian, Mediterranean, Deli, Seafood, Wine Bar
N.A
Italian, Seafood, Mediterranean, Barbecue, European
Italian, Emilian, Northern-Italian
Italian, Pizza, Seafood, Mediterranean, European
Italian, Mediterranean
Chinese, Japanese, Seafood, Sushi, Asian, Soups
Italian, Mediterranean
Italian, Pizza, Seafood, Mediterranean
N.A
N.A
Italian, Mediterranean, Seafood
Italian, Seafood, Mediterranean, Lombard, Northern-Italian
N.A
Chinese, Asian
N.A
N.A
N.A
Italian, Pizza, Seafood, Mediterranean
Italian, Mediterranean
N.A
Steakhouse, International, Italian, American, Bar, Pizza, Barbecue, European
Italian, Mediterranean, Barbecue
Chinese, Asian
Italian, Seafood, Mediterranean
German, Austrian, Bar, Central European, European
Italian, European
Italian, Pizza, Seafood, Mediterranean, Barbecue, European
N.A
Cafe
N.A
Italian, Pizza, Seafood, Mediterranean, European
N.A
Italian, Mediterranean
N.A
Italian, Deli
N.A
Italian, Mediterranean
Italian
Italian, Mediterranean
Italian, Mediterranean
Italian, Mediterranean, Wine Bar
Italian, Seafood, Mediterranean
Italian, Seafood, Mediterranean
Italian
Italian, Pizza, Mediterranean, Healthy
Italian, Pizza, Seafood, Mediterranean, European
Italian, Emilian, Northern-Italian
Japanese, Seafood, Sushi, Asian
Italian, Pizza, Seafood, Mediterranean, European
Italian, Steakhouse, Latin, Pizza, Barbecue, Argentinean
Italian, Healthy
Seafood, Sardinian, Southern-Italian, Central-Italian
Neapolitan, Campania, Southern-Italian, Mediterranean, European
Tuscan
Italian, Pizza, Seafood, Mediterranean, Lombard, Northern-Italian
Italian, Mediterranean, Emilian, Northern-Italian
Italian, Mediterranean, Lombard, Northern-Italian
Italian, Seafood, Mediterranean
Italian, Pizza, Seafood, Mediterranean, European
Italian, Seafood, Mediterranean
Italian, Seafood, Contemporary
Italian, Seafood, Mediterranean, International
Italian, Pizza, Seafood, Mediterranean, Lombard, Northern-Italian
N.A
Italian, Mediterranean, Barbecue, European, Lombard, Northern-Italian
Italian, Mediterranean, European
N.A
Italian, Barbecue
Italian, Pizza
Italian
Cafe
Italian, Pizza, Mediterranean
Italian, Wine Bar, Mediterranean
Italian, Mediterranean, Barbecue
N.A
N.A
N.A
Italian
Mediterranean, Italian
Italian, Barbecue
Italian, Seafood, Mediterranean, Ligurian, Northern-Italian
Italian, Seafood, Mediterranean, Soups, Tuscan, Central-Italian, International
Italian, Pizza, Seafood, Mediterranean, Lombard, Northern-Italian
Italian
Italian, Pizza, Seafood, Mediterranean, Lombard, Northern-Italian
Mexican, Latin, Bar
Italian, Pizza, Seafood, Mediterranean
Thai, Asian, Seafood
Italian
Italian, Seafood, Mediterranean
Bar, Italian, American
N.A
Italian, Tuscan, Central-Italian, Healthy, Wine Bar
Italian, Mediterranean, European
Japanese, Seafood, Sushi, Asian
Italian, Cafe, Mediterranean, European, Wine Bar
Italian, Pizza, Seafood, Barbecue, Mediterranean
Italian, Mediterranean, Wine Bar
Italian, Pizza
Italian
Italian, Mediterranean, European, Wine Bar
Italian, Mediterranean, European, Emilian, Northern-Italian
Italian, European
N.A
Italian
Italian, Pizza, Seafood, Mediterranean, European
Italian, Pizza, European
N.A
Italian, Seafood, Mediterranean
Italian, Mediterranean, European
Italian, Pizza, Seafood, Mediterranean, European
N.A
Italian
Italian, Bar, Cafe, Pub, Diner
Italian, Cafe, Bar, Pub, Wine Bar
Italian, Mediterranean, Barbecue
Italian, Seafood, Mediterranean
N.A
N.A
Italian, Seafood, Mediterranean, Wine Bar
Steakhouse, Italian, Mediterranean, European
Italian, Seafood, Mediterranean
Italian, Mediterranean
N.A
Italian, Mediterranean, Lombard, Northern-Italian
Italian, Bar, European, Pub, Romana, Lazio, Central-Italian
Italian, Seafood, Mediterranean, European
N.A
Italian, Mediterranean
Italian, Pizza, Seafood, Mediterranean, Neapolitan, Campania, Southern-Italian
Italian, Pizza, Seafood, Mediterranean, European
Italian, Mediterranean
Italian, Bar, Mediterranean, Wine Bar
Italian, Mediterranean
Italian, Pizza, Seafood, Mediterranean, European, International
N.A
Italian, Bar, Cafe, Pub
Italian, Bar, Mediterranean, Wine Bar
N.A
Italian, Seafood, Mediterranean, Ligurian, Northern-Italian
Italian, Pizza, Seafood, Mediterranean, European
Italian, Pizza, Mediterranean
Italian, Mediterranean
Italian, Bar, Cafe
Italian
Japanese, Seafood, Sushi, Asian, Fusion
Italian, Mediterranean, European, Lombard, Northern-Italian
Cafe
Italian, Seafood, Mediterranean, European
Italian, Pizza
Italian, Mediterranean
Italian, Mediterranean, Lombard, Northern-Italian
N.A
Italian
Italian, Seafood, Mediterranean
Italian, Mediterranean, Lombard, Northern-Italian
Italian, Pizza
Japanese, Seafood, Sushi, Asian
Italian, Mediterranean, European, Deli, Wine Bar
Italian, Steakhouse, Mediterranean, Barbecue
Italian, Mediterranean
N.A
Italian, Mediterranean, Barbecue
Italian, Seafood, Mediterranean
Italian, Pizza, Mediterranean, Healthy
Italian, Mediterranean, European, Healthy, Lombard, Northern-Italian
Italian, Seafood, Mediterranean, European, Soups, Romana, Lazio, Central-Italian
Italian, Mediterranean, Emilian, Northern-Italian
Italian, Mediterranean
Italian, Mediterranean
Italian, Pizza, Mediterranean, Healthy
Italian, Pizza, Seafood, Mediterranean, Ligurian, Northern-Italian
N.A
Italian, Pizza, Seafood, Mediterranean, Neapolitan, Campania, Southern-Italian
Italian, Bar, Cafe, Mediterranean
N.A
Italian, Pizza, Mediterranean, European, Neapolitan, Campania, Southern-Italian
Indian
N.A
Italian, Seafood, Mediterranean, European, Emilian, Northern-Italian
Italian, Seafood, Mediterranean
Italian
Italian, Pizza, Fast Food, Mediterranean, Tuscan, Central-Italian
Italian, Pizza
Italian, Seafood, Mediterranean, European, Healthy
Italian, Seafood, Mediterranean, European
Italian, Pizza, Mediterranean
Italian, Pizza
Italian, Seafood, Soups
Italian, Mediterranean, Wine Bar
Italian, Seafood, Mediterranean, European
Italian, Mediterranean
Italian, Pizza, Seafood
Italian, Pizza, Mediterranean
Italian, Pizza, Seafood, Mediterranean, European
Italian, Pizza, Mediterranean, European
Italian, Fast Food, International
Italian, Pizza, Seafood, Mediterranean, Neapolitan, Campania, Southern-Italian
Italian, American, Mediterranean, Barbecue, European, Romana, Lazio, Central-Italian
Italian, Mediterranean, Emilian, Northern-Italian
N.A
Italian, Seafood, Mediterranean, Healthy, Soups
Italian, Seafood, Mediterranean
Italian, Seafood, Mediterranean, Healthy, Northern-Italian
Italian, Pizza, Fast Food, Mediterranean, European, German, Grill
Italian, Seafood, Mediterranean, European, Emilian, Northern-Italian
Italian, Wine Bar, Lombard, Northern-Italian
Italian, Mediterranean, European, Wine Bar
Italian, Wine Bar
Italian, Mediterranean, Northern-Italian, Central-Italian
Italian, Mediterranean, European, Lombard, Northern-Italian
N.A
Italian, International, Mediterranean, European
Italian, Mediterranean
Italian, Seafood, Mediterranean, European
Italian, Mediterranean, European, Healthy, Lombard, International
Italian, Mediterranean, European
Italian, Mediterranean, Wine Bar
Italian, Seafood, Mediterranean, Neapolitan, Campania, Southern-Italian
Italian, Mediterranean, Emilian, Northern-Italian
Italian, Seafood, Mediterranean, European
Italian
Italian
Italian, Seafood, Mediterranean, European
Italian, Seafood, Mediterranean, Healthy
Italian, Mediterranean, European
Italian, Seafood, Mediterranean, European, Lombard, Northern-Italian
Italian, Seafood, Mediterranean, Barbecue, Grill, Soups
Italian, Pizza, Seafood, Mediterranean
Italian, Mediterranean
Italian, Mediterranean
Italian, Cafe
Italian, Pizza, Seafood, Mediterranean
Italian, Seafood, Mediterranean, European, International
Italian, Seafood, Barbecue, Mediterranean
Italian, Pizza
International
Italian, Mediterranean, Emilian, Northern-Italian
Italian, Mediterranean
Italian, Mediterranean, European
Italian, Tuscan, Central-Italian
Italian, Mediterranean, European, Wine Bar
Italian, Steakhouse, Mediterranean, Barbecue, Romana, Lazio, Central-Italian
Italian, Seafood, Mediterranean, European, Lombard, Northern-Italian
Italian, Mediterranean, Barbecue, Grill, Contemporary
Italian, Pizza, Seafood, Mediterranean, European, International
Italian, Seafood, Mediterranean, European, International, Contemporary
Italian, Seafood, Mediterranean, Ligurian, Northern-Italian
Italian, Pizza, Seafood, Mediterranean
Italian, Pizza, Seafood, Mediterranean
Mediterranean
Mediterranean, Deli, Italian
N.A
Italian, European, Mediterranean
Italian
N.A
N.A
Italian, Lombard, Northern-Italian
Italian, Seafood, Mediterranean
Cafe
Italian, Seafood, Mediterranean, European, Soups, Lombard, Northern-Italian
Italian, Pizza, Seafood, Mediterranean, Neapolitan, Campania, Southern-Italian
Barbecue, Italian, Mediterranean, European, Contemporary, Wine Bar
Italian, Mediterranean
Italian, Seafood, Mediterranean
Italian, Mediterranean, Emilian, Northern-Italian, Grill
Fast Food, Italian
Italian, Seafood, Mediterranean, International, European
Italian, Cafe, Mediterranean, Deli, Emilian, Northern-Italian
Italian, Emilian, Northern-Italian
N.A
Italian
Italian, Pizza, Seafood, Mediterranean, European
Italian, Mediterranean, European, Seafood
Italian
N.A
Italian, Seafood, Mediterranean
Italian, Pizza, Seafood, Mediterranean, European, International
Italian, Pizza, Seafood, Mediterranean, European
Italian
Italian, Seafood, Mediterranean, Barbecue, Grill
Italian, Pizza, Seafood, Mediterranean
Italian
Italian, Mediterranean, Barbecue, Lombard, Northern-Italian
Italian, Barbecue, Grill
Italian, Pizza, Seafood, Mediterranean
Pizza
Italian, Mediterranean, European, Healthy, Romana, Lazio, Central-Italian
Italian, Mediterranean, European
Italian, Seafood, Mediterranean
Italian, Mediterranean, European, Lombard, Northern-Italian
Italian, Mediterranean, Wine Bar
Italian, Mediterranean
Italian, Wine Bar
Italian
N.A
Italian, Pizza, Mediterranean, Lombard, Northern-Italian
Italian, German, Austrian, Bar, Barbecue, European, Pub, Central European, Brew Pub
Italian, German, Austrian, Bar, Barbecue, European, Pub, Central European, Brew Pub
Italian, Seafood, Mediterranean
Italian, Seafood, Mediterranean, Barbecue, European, Healthy, Soups, Sicilian, Southern-Italian
Italian, Bar, Cafe, Mediterranean
Italian, Romana, Lazio, Central-Italian
Italian, Mediterranean, Wine Bar
N.A
Italian, Seafood, Mediterranean
Italian, Pizza, Seafood, European, Mediterranean
Italian
Italian, Wine Bar, Emilian, Northern-Italian
Italian, Pizza, Mediterranean
Italian, Bar, Pizza, Mediterranean, European, Lombard, Northern-Italian
Italian, Mediterranean, Emilian, Northern-Italian
Italian, Seafood, Mediterranean, Wine Bar, Ligurian, Northern-Italian
Chinese, Seafood, Asian, Sushi
Italian
Italian, Seafood, Mediterranean
Italian, Pizza, Seafood, Mediterranean
Italian, Seafood, Mediterranean, European
Italian, Seafood, Mediterranean
Italian, Pizza, Mediterranean, Romana, Lazio, Central-Italian
Italian, Pizza, Mediterranean, Neapolitan, Campania, Romana, Lazio, Central-Italian, Southern-Italian
Italian, Mediterranean, Tuscan, Central-Italian
Italian, Pizza, Mediterranean, Neapolitan, Campania, Southern-Italian
Italian, Pizza, Mediterranean, Neapolitan, Campania, Southern-Italian
Italian, Chinese, Seafood
Italian, Mediterranean, Lombard, Northern-Italian
Italian, Healthy
Italian, Mediterranean, Seafood
Italian, Mediterranean, Seafood
Italian
Italian, Mediterranean, European
N.A
Italian, Pizza, Mediterranean, Neapolitan, Campania, Southern-Italian, Contemporary
N.A
Italian, Pizza
Spanish, Fast Food
N.A
Italian
Italian, Bar, Pizza, Mediterranean
Italian, Pizza
N.A
Italian, Mediterranean, European, Wine Bar
Italian, Pizza, Seafood, Mediterranean, European
Italian, Mediterranean
N.A
Pizza, Mediterranean, Italian, Seafood, Lombard, Northern-Italian
Cafe
Italian, Pizza, International, Mediterranean
Italian, Pizza, Seafood, Mediterranean, European
Italian, Mediterranean, Barbecue
Mediterranean, Italian, Pizza, European
Italian
N.A
Italian, Pizza, Seafood, Mediterranean, Emilian, Northern-Italian
Italian, Seafood, Mediterranean
Campania, Southern-Italian, Neapolitan
Italian